<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.ecommerce.dao.ProductMapper">

    <resultMap id="ProductDetailResultMap" type="com.customer.ecommerce.model.Product">
        <id property="id" column="p_id"/>
        <result property="name" column="p_name"/>
        <result property="description" column="p_description"/>
        <association property="category" javaType="com.customer.ecommerce.model.ProductCategory">
            <id property="id" column="c_id"/>
            <result property="name" column="c_name"/>
        </association>
        <collection property="images" ofType="com.customer.ecommerce.model.ProductImage">
            <id property="id" column="pi_id"/>
            <result property="imageUrl" column="pi_image_url"/>
        </collection>
        <collection property="variants" ofType="com.customer.ecommerce.model.ProductVariant">
            <id property="id" column="pv_id"/>
            <result property="attributes" column="pv_attributes"/>
            <result property="price" column="pv_price"/>
            <result property="stock" column="pv_stock"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="ProductDetailResultMap">
        SELECT
            p.id as p_id, p.name as p_name, p.description as p_description,
            c.id as c_id, c.name as c_name,
            pi.id as pi_id, pi.image_url as pi_image_url,
            pv.id as pv_id, pv.attributes as pv_attributes, pv.price as pv_price, pv.stock as pv_stock
        FROM products p
                 LEFT JOIN product_categories c ON p.category_id = c.id
                 LEFT JOIN product_images pi ON p.id = pi.product_id
                 LEFT JOIN product_variants pv ON p.id = pv.product_id
        WHERE p.id = #{id}
    </select>

    <select id="findAll" resultType="com.customer.ecommerce.model.Product">
        SELECT id, name, description FROM products where 1
    </select>
</mapper>